{% extends 'headerPage.html' %}

{% block content%}

    <h2>Ingrese una imagen para clasificar</h2>

    
    <br>
   
    <form method="post" enctype="multipart/form-data" action="predictImage">
  
 {% csrf_token %}
 <div class="col-md-4 col-sm-4"><label for="fname">Cargue su imagen aqui:</label> </div> <input name="filePath" type="file"><br><br>
 <br>

 
 <input type="submit" value="Submit" ></div>
<div class="imagen" style="text-align: center; padding-left: 25px; padding-right: 25px; padding-top: 25px;">
    <h2>La clasificacion de la imagen es {{predictedLabel}}</h2>
    <p>Probabilidad: {{Probabilidad}}</p>
    <img width="200" height="200" src={{filePathName}} alt='Cargar imagen'>
    {{filePathName}}
   
</div>

</form>
<br>


{% endblock %}